.input-group >.form-control.input-height-md {
    min-height: calc(2.08rem + 11px);
    height: calc(2.08rem + 11px);
}


/* UVI COLORS  */
.UVIGreen{
    background-color: yellowgreen;
}
.UVIYellow{
    background-color: yellow;
    color:black;
}
.UVIOrange{
    background-color: orangered;
}
.UVIRed{
    background-color: red;
}