.container{
    max-width: 100vw;
    max-height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:#95afc0;
    color: #dff9fb;
}
body{
    background-color:#95afc0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
h1{
    background-color:#535c68 ;
    text-align: center;
    justify-content: center;
    color: #dff9fb;
}
.row{
    align-items: center;
}

button{
   
    background-color: transparent;
    border-radius: 1rem;
    border: none;
}
button:hover{
 background-color: #dff9fb;
}
input{
    background-color: transparent;
    /* border: solid; */
}
.UVIGreen{
    background-color: yellowgreen;
}
.UVIYellow{
    background-color: yellow;
    color:black;
}
.UVIOrange{
    background-color: orangered;
}
.UVIRed{
    background-color: red;
}